# Environment
.env
.env.local

# Dependencies
vendor/

# Data
data/
ref/
*.ps1

# Migration / schema
schema.sql
migrate.php

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
.vercel
